# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.local
.env.*
*.pem
*.key

# Database Files
*.db
*.sqlite
*.sqlite3

# Logs & Temp
logs/
*.log
npm-debug.log*
uploads/
temp/
*.tmp
*.bak
